<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <h1>Dashboard will be here</h1>
    <div>
      <a href="/logout">
        <button>Log Out</button> 
      </a>
    </div>
</body>
</html>