<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body {
        margin: 0;
        padding: 0;
        background-color: #17a2b8;
        height: 100vh;
        }
        #login .container #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
        }
        #login .container #login-row #login-column #login-box #login-form {
        padding: 20px;
        }
        #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
        }
        h4{
            color: green;
            text-align: center;
            margin-top: 50px;
        }
    </style>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer ></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
</head>

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">IoT Dashboard Login</h3>
        <h4>{{message}}</h4>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <input type="text" name="email" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <br>
                                <button type="submit" class="btn btn-info btn-md">Login</button>
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="/register" class="text-info">Register here</a>
                                <br>
                                <a href="/forgot" class="text-info">Forgot Password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener("DOMContentLoaded" , ()=>{
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            const firebaseConfig = {
            //Add your firebase config
            };
            firebase.initializeApp(firebaseConfig);
            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
            document.getElementById("login-form").addEventListener("submit" , (event)=>{
                event.preventDefault()
                const email = document.getElementById("username").value;
                const password = document.getElementById("password").value;
                firebase.auth().signInWithEmailAndPassword(email, password).then((user)=>{
                    firebase.auth().currentUser.getIdToken().then((idToken)=>{
                        window.location.assign('/sessionLogin?token='+idToken);
                    })
                }).then(()=>{
                    firebase.auth().signOut();
                }).catch((e)=>{
                    alert(e.message)
                })
            })
        })
    </script>
</body>

</html>